.header{
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    position: relative;
   
}
.headerContainer{
    width:100%;
    max-width: 1024px;
    margin:20px 0px 50px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}